.navmain {

    display: flex;
    justify-content: center;
    align-items: center;
}

.navContainer {
    /* border: 2px solid black; */
    max-width: 80vw;
    width: max-content;
    border-radius: 8px;
    padding: 2px 0px;
    margin: 15px auto;
    /* box-shadow: rgba(91, 91, 123, 0.25) 0px 30px 60px -12px inset, rgba(91, 91, 123, 0.25) 0px 18px 36px -18px inset; */
    box-shadow: rgb(204, 219, 232) 3px 0px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset, rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

}

.navContainer ul {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    scrollbar-width: none;
    list-style: none;
    /* Firefox */
    -ms-overflow-style: none;
}

.navContainer a {
    /* transition: all 0.5s; */

    margin: 0px 3px;
    text-decoration: none;
    padding: 5px 5px;
    font-size: 12px;
    font-weight: 500;
    color: rgb(126, 122, 122);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
margin: 2px 8px;
    background-color: transparent;
    box-shadow: none;
    transition: background-color 0.5s, box-shadow 0.5s, color 0.5s;
    /* transition: all 0.5s; */
}

.navContainer .active {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background-color: white;
    color: black;
    /* transition: all 0.5s; */

}

@media (max-width: 600px) {

    .navContainer a {
        font-size: 5px;
    }
}