.analaticComponant {
    /* border: 0.5px solid rgb(207, 198, 198); */
    padding: 8px;
    border-radius: 5px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px; */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    display: flex;
    flex-direction: column;

    margin: 0;
    gap: 20px;
    /* background:gray; */
    /* overflow-y: scroll;
     scrollbar-width: none; 
  -ms-overflow-style: none;  */
    overflow: hidden;
}

.cardAndpie {
    display: flex;
    /* flex: 2fr 1fr; */
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* border: 1px solid black; */

}

.piechart {

    width: 40%;
    /* height: 100%; */
    padding: 2vmax 0vmax;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* gap: 5px; */
    /* overflow-y: scroll; */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.analaticComponantHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.analaticComponantHeader .ant-select-selector{
     border: none !important; 
  border-bottom: 0.1px solid #b8b3b3 !important;
  border-radius: 0 !important; 
  color: #434040 !important; 
  background-color: transparent !important;
  box-shadow: none !important; 
}

.h3Header {
    display: flex;
    margin-bottom: 10px;
    margin-left: 2vmax;
    gap: 10px;
    font-size: 25px;
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(81, 75, 75);
    /* color: rgba(255, 255, 255, 0.7); */
    /* color: rgb(33, 32, 32); */
    font-weight: bold;

}

.analaticCards {
    width: 70%;
    /* height: 100%; */
    padding: 2vmax 0vmax;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    /* overflow-y: scroll; */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.analaticard {
    border-radius: 10px;
    height: auto;
    max-width: 250px;
    min-width: 240px;
    /* background-color: #272927; */
    /* color: rgba(255, 255, 255, 0.7); */
    color: rgb(81, 75, 75);


    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* border: 0.5px solid rgb(207, 198, 198); */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* padding: 1vmax; */
    padding: 0px 5px 0px 5px;
    /* margin: 5px; */

}

.analaticCardleft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* padding-top: 20px; */
    margin-bottom: -25px;
}

.analaticCardRight {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.analaticard:hover {

    cursor: pointer;
}

.analaticard span {
    /* font-size: 16px; */

    gap: 5px;
    display: flex;
}

#percenbox {
    padding: 4px;
    opacity: 0.9;
    gap: 3px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 0.3px solid gray; */
    font-size: 15px;
    background-color: #d1f7d6;
    /* Light green */
    color: #1b5e20;
}

.ant-progress-text {
    /* color: rgba(255, 255, 255, 0.7) !important; */
    font-size: 15px !important;

}

.ant-progress-inner {
    width: 120px !important;
}

.ant-select-selector {
    /* border: 1px solid black !important; */
    /* padding: 20px !important; */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) !important;

}

.ant-select-selection-placeholder {
    /* color: black !important; */
    font-size: 15px !important;

}

@media (max-width: 700px) {

    .cardAndpie {
        flex-direction: column-reverse;
        display: flex;
        align-items: center;
        width: 100%;

    }

    .piechart {
        /* width: 100%; */
        width: 250px;
        height: 250px;
    }
    

    .analaticComponant {
        flex-direction: column;
    }
}