*{
    margin: 0;
    padding: 0;
}
.layoutContainer{
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 5px;
}
@media (max-width: 700px) {
    .layoutContainer{
        gap: 0;
    
    }

}
/* .navlayout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
} */