.analeticSectionPurchese {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 20px;
    /* border: 1px solid black; */
    flex-wrap: wrap;

}