.purchesemain {
    display: flex;
    /* align-items: center; */
   flex-direction: column;
    /* border: 1px solid black; */
    gap: 10px;
    /* width: 100%; */
}
.purchesTable{
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    padding-top: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    gap: 10px;
}

