.Targetheader {
    /* background-color: rgb(6, 130, 80); */
    background-color: rgba(225, 254, 244, 0.7);
    border:1px solid  rgb(6, 130, 80);
    border-radius: 10px;
    padding: .5vmax;
    margin: 1vmax;
    color: rgb(6, 130, 80);
}

.tableAndGrapgdiv {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 10px;
    /* padding: 10px; */
    /* height: 100%; */
    /* width: 100%; */
    /* border: 1px solid black; */
    /* flex-wrap: wrap; */
}

.workDetailsCharts {
 
    padding: 10px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    /* border: 1px solid black; */
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    gap: 30px;
    border-radius: 10px;
    
}
.workDetailsCharts div{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 10px;
    /* border: 1px solid black; */
}
@media (max-width: 700px) {

    .tableAndGrapgdiv {
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
    }
}