/* Container */
.ant-table-wrapper {
  padding: .5vmax;
  border-radius: 15px;
  box-shadow:
    rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  overflow-x: auto !important; /* changed scroll to auto */
  text-align: center !important;
}

/* Table Head */
.ant-table-thead {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4) !important;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3) !important;
  color: rgb(184, 47, 47) !important;
  font-weight: 600;
   border-bottom: 18px solid transparent; 
}

/* Table Head Cells */
.ant-table-thead > tr > th {
  background-color: rgba(6, 158, 49, 0.7) !important;

  /* border-radius: 10px; */
  color: #ffffff !important;
  font-size: 10px !important;
  text-align: center !important;
  padding: 8px 12px !important; /* add padding for better spacing */
}

/* Remove AntD cell expand icon */
.ant-table-cell::before {
  display: none !important;
}

/* Icons in header */
.ant-table-thead svg {
  color: #d9d9d9 !important;
}

/* Table Body Cells */
.ant-table-tbody > tr > td {
  font-size: 10px !important;
  text-align: center !important;
  padding: 8px 12px !important;
}

/* Hover effect on rows (uncomment if needed) */
/*
.ant-table-tbody > tr:hover > td {
  background-color: #333333 !important;
}
*/

/* Pagination container */
.ant-pagination {
  margin: 0 !important;
}

/* Pagination item links */
.ant-pagination-item a {
  font-size: 10px !important;
  padding: 0 !important;
}
